:root {
  --text-color-first: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
  font-weight: 400;
  color: var(--text-color-first);

  background: url('../img/background.jpg');
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1164px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid yellow;
}

.section {
  padding-top: 31px;
  padding-bottom: 104px;

  outline: 1px solid blue;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------- HEADER ---------------- */
.header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.header__wrapper {
  display: flex;
  align-items: center;

  outline: 1px solid teal;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 39px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  align-items: center;
  margin-right: 24px;
}

.nav__link {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--text-color-first);
}

.socials {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.socials__item:not(:first-child) {
  margin-left: 21px;
}

/* ----------------- FOOTER ---------------- */

.footer {
  background-color: #030102;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__wrapper {
  display: flex;
}

.footer__copy {
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu__item:not(:first-child) {
  margin-left: 25px;
}

.menu__link {
  color: var(--text-color-first);
}
