:root {
  --text-color-first: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/');
  src: local('../fonts/MuseoSansCyrl-700'), url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* width: 1440px;
  margin: 0 auto; */

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
  font-weight: 400;
  color: var(--text-color-first);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1164px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 31px;
  padding-bottom: 104px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------- HEADER ---------------- */
.header {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
  height: 154px;

  padding-top: 64px;
  padding-bottom: 64px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 39px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  align-items: center;
  margin-right: 24px;
}

.nav__link {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--text-color-first);
}

.socials {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.socials__item:not(:first-child) {
  margin-left: 21px;
}
/* ----------------- MAIN ---------------- */

.main {
  background-image: url('../img/background.jpg');
  background-position: center -154px;
  background-repeat: no-repeat;
  background-size: auto;

  padding-top: 30px;
}

.main__pre-title {
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating__star {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 9px;
}

.star__item:not(:last-child) {
  margin-right: 4px;
}

.main__title {
  font-family: 'Museo Sans Cyrl 700';
  font-size: 76px;
  line-height: 91px;
}

.main__content {
  width: 528px;
  margin-bottom: 41px;
}

.btn {
  width: 245px;
  height: 60px;
  padding: 22px 72px;
  background-color: #151515;

  color: var(--text-color-first);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* ----------------- FOOTER ---------------- */

.footer {
  background-color: #030102;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-bottom: 8px;
}

.footer__wrapper {
  display: flex;
}

.footer__copy {
  color: #505050;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu__item:not(:first-child) {
  margin-left: 25px;
}

.menu__link {
  color: #505050;
}
